/* Fonts */
/* Colors */
/* Timing */
/* Spacing */
/* Backgrounds */
/* Mixins */
/* Utility classes */
.portrait {
  width: 200px; }

.circled {
  border-radius: 50%; }

.img-responsive {
  width: 100%; }

.fa-white {
  color: #fdfdfd;
  text-shadow: none; }

/* Backgrounds */
#conductor-background {
  background-image: url(../images/conductor.jpg);
  background-position: left center; }

#saxophonist-background {
  background-image: url(../images/master-thesis.jpg); }

#music-educator-background {
  background-image: url(../images/music-educator.jpg);
  background-position: right top; }

#master-thesis-background {
  background-image: url(../images/master-thesis2.jpg); }

.image-attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
  font-size: 11px;
  color: #bbb; }

html, body, main, #categories, .category-grid {
  height: 100%; }

html {
  background-color: #000; }

body {
  background-color: #000;
  font-family: "Lato";
  font-weight: 300;
  color: #2d2d2d;
  margin: 0; }

h1, h2, h3, h4, h5, h6, .category-title {
  font-family: "Lato";
  font-weight: 300;
  font-size: 28px;
  text-shadow: #2d2d2d 2px 2px 1px; }

a {
  color: #a06fc3;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  a:hover {
    color: #e5c5fd; }

header {
  position: fixed;
  width: 100%;
  z-index: 30;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4); }
  @media (min-width: 768px) {
    header {
      position: absolute;
      width: 30%;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); } }
  header .title {
    text-align: center;
    color: #fdfdfd;
    font-size: 30px;
    font-family: "Megrim";
    text-shadow: #2d2d2d 2px 2px 1px; }
    @media (min-width: 768px) {
      header .title {
        font-size: 58px; } }
  header .contact-item {
    padding: 8px;
    font-size: 1.2em;
    font-weight: 400;
    text-shadow: #130027 1px 2px 1px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (min-width: 768px) {
      header .contact-item {
        padding: 0 16px;
        font-size: 1.6em; } }
    header .contact-item .contact-icon {
      color: #6e3d92; }
      header .contact-item .contact-icon:hover {
        color: #a06fc3; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  z-index: 10;
  padding: 8px;
  text-align: center;
  color: #222; }
  @media (min-width: 768px) {
    footer {
      background-color: rgba(0, 0, 0, 0.4);
      color: #ddd;
      position: fixed;
      font-size: 0.9em;
      bottom: 0;
      right: 0;
      left: 0; } }
  footer #info-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      footer #info-list li {
        display: inline-block; }
        footer #info-list li:not(:last-child):after {
          content: ' \00b7'; } }

.category-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .category-grid .category-item-wrapper {
    height: 100%;
    flex-basis: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out; }
    @media (min-width: 768px) {
      .category-grid .category-item-wrapper {
        height: 50%;
        flex-basis: 50%; } }
    .category-grid .category-item-wrapper .category-item {
      position: relative;
      overflow: hidden;
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      cursor: pointer;
      z-index: 2;
      /* To avoid border-radius disappearing during transition */ }
      .category-grid .category-item-wrapper .category-item:hover .category-background {
        -webkit-transform: scale(1.04);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: scale(1.04);
        /* IE 9 */
        transform: scale(1.04);
        /* IE 10, Fx 16+, Op 12.1+ */ }
      .category-grid .category-item-wrapper .category-item .category-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .category-grid .category-item-wrapper .category-item .category-content {
        width: 100%;
        height: 100%;
        padding: 16px;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        -webkit-transition: 0.6s 0.2s ease-in-out;
        -moz-transition: 0.6s 0.2s ease-in-out;
        -ms-transition: 0.6s 0.2s ease-in-out;
        transition: 0.6s 0.2s ease-in-out;
        color: #fdfdfd; }
        .category-grid .category-item-wrapper .category-item .category-content .category-title {
          padding: 16px;
          padding-right: 0;
          text-align: center;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          background-color: rgba(0, 0, 0, 0.4); }
        .category-grid .category-item-wrapper .category-item .category-content .category-text {
          text-align: left;
          display: none; }
        .category-grid .category-item-wrapper .category-item .category-content.open {
          background-color: rgba(0, 0, 0, 0.6); }
          .category-grid .category-item-wrapper .category-item .category-content.open .category-title {
            background-color: transparent; }
        @media (min-width: 768px) {
          .category-grid .category-item-wrapper .category-item .category-content .category-title {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%); }
          .category-grid .category-item-wrapper .category-item .category-content.open .category-title {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            top: 48px;
            transform-top: none; } }

.read-more-icon {
  font-size: 0.7em;
  margin: 0 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=style.css.map */
