/* Fonts */
$heading-font: 'Lato';
$body-font: 'Lato';
$title-font: 'Bilbo Swash Caps';

/* Colors */
$white: #fdfdfd;
$black: #2d2d2d;
$purple-darker: #130027;
$purple-dark: #130027;
$purple: #3f0a65;
$purple-light: #a06fc3;
$purple-lighter: #e5c5fd;
$gray-dark: #bbb;
$gray-light: #ddd;

/* Timing */
$fast: 0.2s;
$medium-speed: 0.4s;
$slow: 0.6s;

/* Spacing */
$default-padding: 16px;
$main-content-width: 1920px;

$category-item-height: 400px;

/* Backgrounds */
#conductor-background { background-image: url(../images/conductor.jpg) }
#saxophonist-background { background-image: url(../images/saxophonist.jpg) }
#music-educator-background { background-image: url(../images/music-educator.jpg) }
#master-thesis-background { background-image: url(../images/master-thesis.png) }

/* Mixins */
@mixin border-radius($radius: 6px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($property, $duration: $fast, $easing: ease-in-out) {
  -webkit-transition: $property $duration $easing;
     -moz-transition: $property $duration $easing;
      -ms-transition: $property $duration $easing;
          transition: $property $duration $easing;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale($ratio); /* IE 9 */
          transform: scale($ratio); /* IE 10, Fx 16+, Op 12.1+ */
}

@mixin blur($amount) {
  -webkit-filter: blur($amount);
     -moz-filter: blur($amount);
      -ms-filter: blur($amount);
          filter: blur($amount);
}

@mixin grayscale($amount) {
  -webkit-filter: grayscale($amount);
     -moz-filter: grayscale($amount);
      -ms-filter: grayscale($amount);
          filter: grayscale($amount);
}

@mixin box-shadow($left, $top, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $spread $color;
    -moz-box-shadow:inset $left $top $blur $spread $color;
    box-shadow:inset $left $top $blur $spread $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $spread $color;
    -moz-box-shadow: $left $top $blur $spread $color;
    box-shadow: $left $top $blur $spread $color;
  }
}

@mixin text-shadow($offset-x, $offset-y, $blur, $color) {
  -webkit-text-shadow: $offset-x $offset-y $blur $color;
  -moz-text-shadow: $offset-x $offset-y $blur $color;
  text-shadow: $offset-x $offset-y $blur $color;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/* Utility classes */
.portrait {
  width: 200px;
}
.circled {
  border-radius: 50%;
}
.img-responsive {
  width: 100%;
}
.fa-purple {
  color: #3f0a65;
  text-shadow: none;
}
.fa-white {
  color: $white;
  text-shadow: none;
}


/* General (mobile first) */
html, body, main, #categories, .category-grid {
  height: 100%;
}

html {
  background-color: #000;
}

body {
  background-color: #000;
  font-family: $body-font;
  font-weight: 300;
  color: $black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 300;
}

a {
  color: $purple-light;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: $purple;
  }
}

footer {
  position: fixed;
  font-size: 0.8em;
  @media (min-width: 768px) {
    font-size: 0.9em;
  }
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 8px;
  text-align: center;
  // background-color: rgba(192, 151, 222, 0.07);
  background-color: rgba(0, 0, 0, 0.7);
  color: $gray-dark;

  #info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // @media (min-width: 768px) {
      li {
        display: inline-block;
        &:not(:last-child):after { content: ' \00b7'; }
      }
    }
  // }
}

.category-grid {
  @include flexbox();
  flex-wrap: wrap;
  // flex-direction: column;
  // height: 100vh;

  .category-item-wrapper {
    height: 100%;
    flex-basis: 100%;
    @media (min-width: 768px) {
      height: 50%;
      flex-basis: 50%;
    }

    @include transition(all, $slow);

    .category-item {
      position: relative;
      overflow: hidden;
      height: 100%;

      @include flexbox();
      justify-content: center;

      // @include box-shadow(0px, 0px, 10px, 1px, rgba(255,255,255,0.2));
      // @include border-radius();
      z-index: 2; /* To avoid border-radius disappearing during transition */

      &.open {
        .category-content {
          .read-more-icon {
            // @include rotate(180deg);
          }
          .category-text {
            // max-height: $category-item-height;
          }
        }
      }

      .category-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include grayscale(60%);
        @include transition(all, 1s);
      }

      .category-content {
        // @media (min-width: 768px) {
        //   opacity: 0;
        // }

        &:hover {
          .read-more-icon {
            color: $purple-lighter;
          }
        }
        @include transition(opacity, $slow);
        z-index: 1;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: $default-padding;
        // @include border-radius();
        color: $white;
        align-self: center;
        cursor: pointer;

        .read-more-icon {
          margin-left: 0.5em;
          @include transition(all, $medium-speed);
        }

        .category-text {
          display: none;
          text-align: left;
          a {
            &:hover {
              color: $purple-lighter;
            }
          }
        }
      }

      &:hover {
        // .category-content {
        //   @media (min-width: 768px) {
        //     opacity: 1;
        //   }
        // }
        // @include border-radius();

        .category-background {
          @include scale(1.05);
          @include grayscale(0);
        }
      }
    }
  }
}

.contact-info {
  position: fixed;
  padding: $default-padding;
  top: 0;
  right: 0;
  left: 0;
  text-shadow: $purple-darker 1px 1px 1px;
  font-weight: 400;
  // background-color: rgba(255, 255, 255, 0.8);
  // @include box-shadow(0px, 0px, 5px, 0px, #cfc8d4);
  z-index: 99;
  // border-top: 1px dashed $purple;
  @include flexbox();
  justify-content: center;
  flex-wrap: wrap;
  // justify-content: space-around;
  justify-content: flex-end;
  font-size: 1.2em;

  
  @media (min-width: 768px) {
  }

  .contact-item {
    padding: 0 $default-padding;
    @include transition(all);
    &:hover {
      @include scale(1.03);
    }

    .contact-item-text {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }
}
