/* Fonts */
/* Colors */
/* Timing */
/* Spacing */
/* Backgrounds */
#conductor-background {
  background-image: url(../images/conductor.jpg); }

#saxophonist-background {
  background-image: url(../images/saxophonist.jpg); }

#music-educator-background {
  background-image: url(../images/music-educator.jpg); }

#master-thesis-background {
  background-image: url(../images/master-thesis.jpg); }

/* Mixins */
/* Utility classes */
.portrait {
  width: 200px; }

.circled {
  border-radius: 50%; }

.img-responsive {
  width: 100%; }

.fa-purple {
  color: #3f0a65;
  text-shadow: none; }

/* General (mobile first) */
html {
  background-color: #14061b; }

body {
  background-image: url(../images/background-0.jpg);
  background-size: cover;
  font-family: "Lato";
  font-weight: 300;
  color: #fdfdfd;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  font-weight: 300; }

a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
  a:hover {
    color: #c097de; }

ul {
  margin: 0;
  padding: 0; }

footer {
  padding: 16px;
  text-align: center; }

#image-carousel {
  height: 300px;
  padding: 16px;
  background: url(../images/saxophonist.jpg);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

main {
  margin: 16px auto;
  width: 920px;
  max-width: 100%; }

#title-container {
  width: 920px;
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-text-shadow: 2px 2px 2px black;
  -moz-text-shadow: 2px 2px 2px black;
  text-shadow: 2px 2px 2px black; }
  #title-container > * {
    margin: 16px; }
  #title-container #title {
    font-size: 3em;
    font-family: "Bilbo Swash Caps"; }
  #title-container .contact-info {
    font-size: 1em;
    list-style-type: none; }
  #title-container .contact-item {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    #title-container .contact-item:hover {
      -webkit-transform: scale(1.03);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(1.03);
      /* IE 9 */
      transform: scale(1.03);
      /* IE 10, Fx 16+, Op 12.1+ */ }

#categories {
  flex-basis: 100%; }

#info {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2d2d2d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 16px;
  margin: 16px; }
  #info .category-item {
    position: relative;
    height: 100px;
    margin: auto -16px; }
    #info .category-item .category-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    #info .category-item .category-caption {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      padding: 16px;
      color: #fdfdfd; }
      #info .category-item .category-caption > * {
        align-self: center;
        width: 100%; }

.category-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .category-grid .category-item-wrapper {
    flex-basis: 100%; }
    .category-grid .category-item-wrapper .category-item {
      position: relative;
      height: 300px;
      margin: 16px;
      overflow: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);
      -moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px;
      z-index: 2;
      /* To avoid border-radius disappearing during transition */ }
      .category-grid .category-item-wrapper .category-item .category-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-filter: grayscale(60%);
        -moz-filter: grayscale(60%);
        -ms-filter: grayscale(60%);
        filter: grayscale(60%);
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out; }
      .category-grid .category-item-wrapper .category-item .category-caption {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        z-index: 1;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        padding: 16px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;
        color: #fdfdfd;
        align-self: center; }
      .category-grid .category-item-wrapper .category-item:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px; }
        .category-grid .category-item-wrapper .category-item:hover .category-background {
          -webkit-transform: scale(1.03);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: scale(1.03);
          /* IE 9 */
          transform: scale(1.03);
          /* IE 10, Fx 16+, Op 12.1+ */
          -webkit-filter: grayscale(0);
          -moz-filter: grayscale(0);
          -ms-filter: grayscale(0);
          filter: grayscale(0); }

#info-list {
  list-style-type: none; }

/* Larger than tablet */
@media (min-width: 768px) {
  #title-container #title {
    font-size: 5em; }
  #title-container .contact-info {
    font-size: 1.5em; }

  .category-grid .category-item-wrapper {
    flex-basis: 50%; }

  #info-list li {
    display: inline-block; }
    #info-list li:not(:last-child):after {
      content: ' \00b7'; } }

/*# sourceMappingURL=style.css.map */
