/* Imports */
@import 'variables';
@import 'utils';


/* Backgrounds */
#conductor-background {
  background-image: url(../images/conductor.jpg);
  background-position: left center;
}
#saxophonist-background {
  background-image: url(../images/saxophonist.jpg);
}
#music-educator-background {
  background-image: url(../images/music-educator.jpg);
  background-position: right top;
}
#master-thesis-background {
  background-image: url(../images/shop.jpg);
}

.image-attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $default-padding/2;
  font-size: 10px;
  color: $gray-dark;
  &.left {
    left: 0;
    right: auto;
  }
  &.right {
    left: auto;
    right: 0;
  }
  @media (min-width: $screen-small) {
    &.double-padding-bottom {
      padding-bottom: 2*$default-padding;
    }
  }
}

/* General stuff */
html, body, main, #categories, .category-grid, #wrapper {
  height: 100%;
}

#wrapper {
  display: none;
}

html {
  background-color: #000;
}

body {
  background-color: #000;
  font-family: $body-font;
  font-weight: 300;
  color: $black;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .category-title {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 28px;
  @include text-shadow($black, 1px, 2px, 1px);
}

a {
  color: $purple-light;
  text-decoration: none;
  @include transition($property: color);

  &:hover {
    color: $purple-lighter;
  }
}


/* Header and footer */
header {
  position: fixed;
  width: 100%;

  z-index: 30;
  
  @include flexbox();
  
  // Center the children
  justify-content: center;
  align-items: center;
  
  background-color: $black-transparent;
  @include box-shadow($color: $black-transparent);
  
  @media (min-width: $screen-small) {
    position: absolute;
    width: 30%;
    
    background-color: transparent;
    @include box-shadow($none: true);
    
    // Center the container
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .title {
    padding: $default-padding/2 $default-padding;
    text-align: left;
    color: $white;
    font-size: 1.5em;
    font-family: $title-font;
    @include text-shadow($black, 2px, 2px, 1px);

    order: 1;

    .category-list {
      font-size: 12px;
      font-family: $body-font;
    }

    @media (min-width: $screen-small) {
      text-align: center;
      order: 0;
      font-size: 4.5em;

      .category-list {
        display: none;
      }
    }
  }

  .contact-item {
    padding: $default-padding/2;
    opacity: 0;
    
    font-size: 0.9em;
    font-weight: 400;
    @include text-shadow($purple-dark, 1px, 1px, 1px);
    @include transition(transform);
    order: 2;

    @media (min-width: $screen-small) {
      order: 0;
      padding: 0 $default-padding;
      font-size: 2em;
      
      &:hover {
        @include scale(1.03);
      }
    }

    .contact-icon {
      color: $purple;
      &:hover {
        color: $purple-light;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  z-index: 10;
  padding: $default-padding;
  text-align: center;
  color: $black-dark;

  @media (min-width: $screen-small) {
    background-color: $black-transparent;
    // @include box-shadow($color: $black-transparent);

    color: $gray-light;
    position: fixed;
    font-size: 0.9em;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $default-padding/4;
  }

  #info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (min-width: $screen-small) {
      li {
        display: inline-block;
        &:not(:last-child):after { content: ' \00b7'; }
      }
    }
  }
}


/* Main content */
.category-grid {
  @include flexbox();
  flex-wrap: wrap;

  * {
    @include no-select-highlight();
  }

  .category-item-wrapper {
    height: 100%;
    flex-basis: 100%;

    @media (min-width: $screen-small) {
      height: 50%;
      flex-basis: 50%;
    }

    .category-item {
      position: relative;
      overflow: hidden;
      height: 100%;

      @include flexbox();
      justify-content: center;

      z-index: 2; /* To avoid border-radius disappearing during transition */

      @media (min-width: $screen-small) {
        &:hover {
          .category-background {
            @include scale(1.03);
          }
        }
      }

      &.open {
        .category-content {
          background-color: $black-transparent-heavy;
          cursor: default;

          .category-title {
            // padding: 0;
            background-color: transparent;
            @include box-shadow($none: true);
          }
        }
      }

      .category-background {
        position: absolute;
        // @include box-shadow($blur: 20px, $spread: 10px, $inset: true);
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // @include grayscale(60%);
        @include transition($duration: $slow);
      }

      .category-content {
        width: 100%;
        height: 100%;
        padding: $default-padding;
        z-index: 1;

        @include flexbox();
        flex-direction: column;

        // Center myself
        align-self: center;

        // Center the children
        justify-content: center;
        align-items: center;

        @include transition($duration: $slow);
        color: $white;

        cursor: pointer;

        @media (min-width: $screen-small) {
          padding: 2*$default-padding;
        }
        @media (min-width: $screen-medium) {
          padding: 4*$default-padding;
        }

        .category-title {
          padding: $default-padding;
          // The read-more-icon needs padding on both sides because it is transformed up-side-down.
          // To avoid too much space on the right, we remove this padding.
          padding-right: 0;
          // @include border-radius();
          text-align: center;

          @include transition($duration: $slow);

          background-color: $black-transparent;
          // @include box-shadow($color: $black-transparent, $left: 1px, $top: 1px);
        }

        .category-text {
          text-align: left;
          display: none;
        }
      }
    }
  }
}

.read-more-icon {
  cursor: pointer;
  font-size: 0.7em;
  margin: 0 $default-padding;
  @include transition();
}